:root {
	--LightBlue: hsl(223, 64%, 98%);
	--DarkBlue: hsl(219, 9%, 45%);
	--Orange: hsl(26, 100%, 55%);
	--Black: (hsl(0, 0%, 0%)/90%);
}
.App {
	text-align: center;
}
.Container {
	width: 1000px;
	margin: 20px auto;
}
@media screen and (max-width: 968px) {
	.Container {
		width: 100%;
	}
}

